.navbar {
    list-style: none;
    display: flex;
    justify-content: space-between;
    max-width: 50%;
    margin: 0 auto;
    z-index: 100;
    position: ;/* SI AGREGAS FIXED SE PRODUCE EL PROBLEMA*/

}

.home {
    
    flex-grow: 2;
}

.contact {
    
    flex-grow: 1;
   
}

.service {
    flex-grow: 1;
    
}

.aboutme {
    flex-grow: 1;
    
}

.more {
    flex-grow: 1;
}

.items {
    font-size: 28px;
}